@model Firma.Data.Data.CMS.Kategorie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kategorie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KtoDodal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KtoDodal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiedyDodal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiedyDodal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KtoZmodyfikowal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KtoZmodyfikowal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiedyZmodyfikowal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiedyZmodyfikowal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KtoWykasowal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KtoWykasowal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiedyWykasowal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiedyWykasowal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKategorii">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
